.map-wrapper {
  position: relative;
  padding-top: 24px;

  @media (min-width: $small-screen) {
    padding-bottom: 100px;
  }

  @media (max-width: 1023px) {
    display: none;
  }

  @media (max-width: $small-screen) {
    padding-top: 42px;
  }

  @media (max-width: $tablet-screen) {
    display: none;
  }
  @media (max-width: $mobile-screen) {
    display: none;
  }

  .map-container {
    width: 688px;
    height: 880px;
    overflow: hidden;

    @media (max-width: $medium-screen) {
      width: 550px;
      height: 704px;
    }
    @media (max-width: $small-screen) {
      width: 440px;
      height: 563px;
    }
  }
}

.year-selector {
  position: absolute;
  bottom: 87px;
  left: 0;
  z-index: 10;

  display: flex;
  flex-direction: column;
  row-gap: 8px;

  &__item {
    padding: 15.5px 24px;

    background-color: rgba(0, 0, 0, 0.6);
    color: white;

    &:hover {
      cursor: pointer;
    }

    &__selected {
      @include bottom-white;
    }
  }
}

// map svg

path {
  fill: #fff;
  stroke: #aaa;
  stroke-linejoin: round;
}

.float:hover {
  filter: drop-shadow(3px 4px 0 rgba(170, 170, 170, 0.5));
  transform: translate(-3px, -4px);
  cursor: pointer;
}

.dot {
  @media (max-width: $medium-screen) {
    r: 8;
  }

  @media (max-width: $small-screen) {
    r: 6.4;
  }
}

.zoomed {
  transform: scale(2);
  transition: 3s;
  // transform-origin: center;
}
