.map-wrapper {
  position: relative;
  padding-top: 24px;

  @media (min-width: $small-screen) {
    padding-bottom: 100px;
  }

  @media (max-width: 1023px) {
    display: none;
  }

  @media (max-width: $small-screen) {
    padding-top: 42px;
  }

  @media (max-width: $tablet-screen) {
    display: none;
  }
  @media (max-width: $mobile-screen) {
    display: none;
  }

  .map-container {
    width: 688px;
    height: 880px;

    @media (max-width: $medium-screen) {
      width: 550px;
      height: 704px;
    }
    @media (max-width: $small-screen) {
      width: 440px;
      height: 563px;
    }
  }
}

.year-selector {
  position: absolute;
  bottom: 87px;
  left: 0;
  z-index: 10;

  display: flex;
  flex-direction: column;
  row-gap: 8px;

  &__item {
    padding: 15.5px 24px;

    background-color: rgba(0, 0, 0, 0.6);
    color: white;

    &:hover {
      cursor: pointer;
    }

    &__selected {
      @include bottom-white;
    }
  }
}

// map svg

.cls-1 {
  fill: #ebc80f;
}

.cls-2 {
  fill: #6f66dc;
}

.cls-3 {
  fill: #fff;
  stroke: #aaa;
  stroke-linejoin: round;
}
