@use "../../base/variables";
@use "../../base/mixins";

.selector-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;

  width: 100%;

  @media (max-width: variables.$mobile-screen) {
    gap: 15px;
  }

  .country,
  .city__selected {
    @include mixins.bottom-white;
  }
}

.selector-container {
  display: flex;
  align-items: center;
  gap: 24px;

  @media (max-width: variables.$mobile-screen) {
    gap: 12px;
  }
}

.city {
  position: relative;

  @media (max-width: variables.$mobile-screen) {
    position: static;
  }

  img {
    &:hover {
      cursor: pointer;
    }
  }

  &__list {
    position: absolute;
    top: 48px;
    z-index: 10;

    display: grid;
    grid-template-columns: repeat(4, 1fr);

    @media (max-width: variables.$mobile-screen) {
      top: 173px;
      left: 30px;
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__item {
    text-wrap: nowrap;
    @include mixins.bottom-black;

    @media (max-width: variables.$mobile-screen) {
      padding: 15.5px 23px;
    }
  }
}
