$color-party-dpp: #009a00;
$color-party-kmt: #0000aa;
$color-party-tpp: #28c8c8;
$color-party-pfp: #ff6310;

.dpp-bg {
  background-color: $color-party-dpp;
}

.kmt-bg {
  background-color: $color-party-kmt;
}

.tpp-bg {
  background-color: $color-party-tpp;
}

.pfp-bg {
  background-color: $color-party-pfp;
}
