@import "../utils/typography";

@mixin bottom-white {
  padding: 15.5px 24px;

  background-color: white;
  border-bottom: 3px black solid;
  @include ch-text;

  &:hover {
    cursor: pointer;
  }
}

@mixin bottom-black {
  padding: 15.5px 24px;

  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  @include ch-text;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}
